

body {
	height:100%;
	Margin:0;
}
.topnav {
	background-color:blue;
	overflow:hidden;
}
.topnav a{
	float:right;
	color:white;
	text-align:center;
	padding:20px 20px;
	text-decoration:none;
	font-size:15px;
	font-family:times roman;
}
.topnav a:hover {
	background-color:white;
	color:black;
}
.topnav a.active{
		background-color:white;
	color:black;
}
.banner-image {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(banner.jpg);
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	positiion:absolute;
}
.aboutme {
	text-align:center;
	margin-left:50px;
	margin-right:50px;
}
.tableheading {
	text-align:center;
}
.tableone th,td{
	
	height:100%;
	border:1px;
	border-color:green;
	border-collapse: collapse;
	text-align:center;
	padding:20px;
	
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
.descriptionlist {
	text-align:center;
	background-color:grey;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:10px;
}
.column {
	width:33.33%;
	float:left;
	color:blue;
	background-color:#d7c8c8;
	text-align: center;
	
	
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
	text-align:center;
}
dt{
	font-weight:bold;
}
button{
	text-align:center;
	height:50px;
	width:100px;
	background-color:blue;
	color:white;
	margin:auto;
	display: flex;
    justify-content: center;
	align-items: center;
	margin-top:10px;
}

#test {
	text-align:center;
}
.contact-form {
	margin:auto;
	display: flex;
    justify-content: center;
	align-items: center;
	padding:10px 10px;
}


	






